.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

img {
  width: 25px;
  border-radius: 50%;
}

.icons {
  font-size: 19px;
}

.search-icon {
  margin-right: 40px;
}
