.sideBar-Conatainer {
  width: 20%;
  padding: 50px 10px;
  height: 105vh;
}

.items {
  font-size: 16px;
  font-weight: 300;
}

/* .items:hover {
  background: red;
} */

.aaactive {
  background: red;
}

.in-active {
  background: none;
}

.icons {
  font-size: 22px;
}
